<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cities</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            width: 500px;
        }
        center {
            margin-left:auto;
            margin-right:auto;
        }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>RegionId</th>
            <th>TimeTracking</th>
            <th>Image</th>
            <th>LastModified</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tr th:each="onecity : ${citieslist}">
            <td th:text="${onecity.id}">334</td>
            <td th:text="${onecity.name}">flag</td>
            <td>
            <a th:href="${'/region/' + onecity.getRegionID()}" th:text="${onecity.regionID}">region id
            </a>
            </td>
            <td th:text="${onecity.timeTracking}">code</td>
            <td th:text="${onecity.image}">code</td>
            <td th:text="${onecity.lastModified}">code</td>
            <td><a th:href="${'/city/' + onecity.id}">View</a> </td>
            <td><a th:href="${'/city/' +onecity.id+'/edit'}">Edit</a> </td>
            <td><a th:href="${'/city/' + onecity.id+'/delete'}">Delete</a> </td>
        </tr>
    </table>
    <div class="row">
        <div class="col-sm-3">
            <a th:href="@{'city/new'}">new city</a>
        </div>
    </div>
</div>

</body>
</html>